.case-list {
    margin-top: 20px;
}

.case-list li {
	border: 1px solid #CCC;
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 12px;
    overflow: hidden;
	background: #EEE;
}

.case-list li .name {
    margin: 0px 0;
    padding: 5px 8px;
    position: relative;
	background: #eee;
    border-top-left-radius:4px;
    border-bottom-right-radius:4px;
}
.case-list li .name a{
    color: #333;
}
.case-list li .label{
    line-height: 20px;
}
.case-list li .name h3 {
    color: #4a4a4a;
    font-weight: normal;
    font-size: 12px;
}

.case-list li.passed {
    border: 1px solid #C5D5DD;
}

.case-list li.failed {
    border: 1px solid #fc735b;
}

.case-list .passed .name {
    margin: 0px 0;
    padding: 5px 8px;
    background: #E6F1F6;
}

.case-list .failed .name {
    background-color: #ffcfc7;
}

.case-list li .result {
    padding: 8px;
    background: white;

    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    position: relative;
    height: 25px;
    background-color: #fff;
    border-top: 1px solid #CCC;
}
.case-list li .label{
    margin-right: 10px;
}
.case-list li .result em {
    margin: 0 5px;
    font-style: normal;
}

.case-list li .result .total-specs em {
    font-weight: bold;
    color: #5E7D00;
}

.case-list li .result .failed-specs em {
    font-weight: bold;
    color: #B03911;
}

.case-list li .top-action {
    position: absolute;;
    top: 5px;
    right: 10px;
}

.case-list li .top-action a {
    margin: 0 5px;
}

.case-list li .bottom-action {
    position: absolute;;
    top: 4px;
    right: 10px;
}

.case-list li .bottom-action a {
    margin: 0 5px;
    font-weight: normal;
}


.pagination {
	float: right;
}